.emacs.d/elpa/
.fltk/
.local/bin/vpnst
.npm/
.Xauthority
.anthy/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cert/
.config/BraveSoftware
.config/configstore
.config/discord
.config/freerdp
.config/gtk-3.0
.config/ibu
.config/msmtp
.config/nvim/autoload
.config/nvim/plugged
.config/pulse
.config/QtProject.conf
.config/spicy
.config/VSCodium
.config/cmus
.config/dconf
.config/fzf
.config/htop
.config/mutt
.config/procps
.config/qalculate
.config/vpn
.config/weatherreport
.config/newsboat/urlswork
.dbus/
.fehbg
.ghc/
.gitconfig
.gnome/
.gnupg/
.history_zsh
.irssi/
.java/
.jd2/
.lesshst
.local/lib64/
.local/share/
.megaCmd/
.minecraft/
.mozilla/
.nv/
.openoffice/
.oracle_jre_usage/
.pki/
.pvpn-cli/
.ssh/
.sshservers
.steam/
.steampath
.steampid
.thunderbird/
.tlauncher/
.ts3client/
.var/
.vim/
.viminfo
.vscode-oss/
.vscode-server/
.w3m/
.wine/
.zcompdump-Gentoo-5.8
.bitcoin
.gkrellm2/data/
.wmWeatherReports/
.local/lib/
.mbsyncrc
.notmuch-config
.password-store/
.vnc/
go/
Documents
Downloads
Linux
mega
MEGA
Muzyka
Screenshots
Wallpapers
developer-quiz.txt
git/
ittv-credentials
mcserver/
www
.wget-hsts
.icons/
.gtkrc-2.0
