.Xauthority
.config/Element/
.config/TabNine/
.config/coc/
.config/google-chrome/
.config/teamviewer/
.ipython/
.bugz_token
.irbrc
.jupyter/
.local/bin/autopep8
.local/bin/isort-identify-imports
.local/bin/pycodestyle
.local/bin/surprise
.local/bin/yamllint
.config/Signal/
.config/lazygit/
.config/libreoffice/
.config/quassel-irc.org/
.local/bin/pytube
.local/bin/spotify_dl
.packer.d/
.spotifydl/
.netrc
.nvimlog
.python_history
.vmware/
.local/bin/epylint
.local/bin/isort
.local/bin/pylint
.local/bin/pyreverse
.local/bin/symilar
.aws/
.anthy/
.aspell.*
.bash_history
.bash_logout
.bash_profile
.bashrc
.bitcoin
.bundle/
.cache/
.cargo
.cert/
.swt/
.smb
.emacs.d/ido.last
.local/bin/black*
.config/zsh/
.fzf.bash
.fzf.zsh
.fzf/
.local/bin/ansible*
.recently-used
.eclipse/
.emacs.d/.dap-breakpoints
.password
.chatty/
.config/transmission-daemon/
.config/wireshark/
.config/tea/
.config/ibus/
.config/vivaldi/
.config/gtk-2.0/
.config/*.conf
.config/BraveSoftware
.config/GIMP/
.config/Microsoft/
.config/Postman/
.config/QtProject.conf
.config/VSCodium
.config/autostart/
.config/cmus
.config/configstore
.config/dconf
.config/discord
.config/freerdp
.config/fzf
.config/gtk-3.0
.config/htop
.config/ibu
.config/keepassxc/
.config/mimeapps.list
.config/mpv/watch_later/
.config/msmtp
.config/mutt
.config/neofetch/
.config/newsboat/urlswork
.config/nvim/autoload
.config/nvim/plugged
.config/procps
.config/pulse
.config/qalculate
.config/spicy
.config/teams/
.config/vpn
.config/weatherreport
.dbus/
.emacs.d/.lsp-session-v1
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/eclipse.jdt.ls/
.emacs.d/elpa/
.emacs.d/workspace/
.fehbg
.fltk/
.gem/
.ghc/
.gitconfig
.gkrellm2/data/
.gnome/
.gnupg/
.gtkrc-2.0
.history_zsh
.icons/
.irb_history
.irssi/
.java/
.jd2/
.lesshst
.local/bin/__pycache__/
.local/bin/backupSynology
.local/bin/chardetect
.local/bin/epylint
.local/bin/flask
.local/bin/futurize
.local/bin/haruhi-dl
.local/bin/isort
.local/bin/pasteurize
.local/bin/pwiz.py
.local/bin/pylint
.local/bin/pyreverse
.local/bin/symilar
.local/bin/vpnst
.local/bin/wheel
.local/bin/estimator_ckpt_converter
.local/bin/f2py3.9
.local/bin/google-oauthlib-tool
.local/bin/import_pb_to_tensorboard
.local/bin/markdown_py
.local/bin/pyrsa-*
.local/bin/saved_model_cli
.local/bin/tensorboard
.local/bin/tf_upgrade_v2
.local/bin/tflite_convert
.local/bin/toco
.local/bin/toco_from_protos
.local/bin/tqdm
.local/bin/f2py
.local/bin/f2py3
.keras/
.config/menus
.local/bin/wheel
.local/include/
.local/lib/
.local/lib64/
.local/share/
.logSynology
.m2/
.mbsyncrc
.megaCmd/
.minecraft/
.mozc/
.mozilla/
.node_repl_history
.notmuch-config
.npm/
.nv/
.nvidia-settings-rc
.openoffice/
.oracle_jre_usage/
.password-store/
.pki/
.plannaplan
.pvpn-cli/
.pylint.d/
.screenlayout/
.solargraph/
.sqlite_history
.ssh/
.sshservers
.steam/
.steampath
.steampid
.sts4/
.thunderbird/
.tig_history
.tlauncher/
.tooling/
.ts3client/
.var/
.vim/
.viminfo
.vimspector.log
.vnc/
.vscode-oss/
.vscode-server/
.vscode/
.w3m/
.weechat/
.wget-hsts
.wine/
.wmWeatherReports/
.yarnrc
.zcompdump-Gentoo-5.8
Documents
Downloads
Linux
MEGA
Muzyka
Screenshots
Wallpapers
developer-quiz.txt
git/
go/
ittv-credentials
mcserver/
mega
www
Movies/
Music/
notes.org
